.grid-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.grid{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.reset{
    padding: 10px;
    width: 80%;
    background-color: var(--yellow);
    border: none;
    border-radius: 5px;
    font-weight: 550;
    cursor: pointer;
    
}

@media screen and (max-width: 500px) {
    .grid{
        height: 400px;
        width: 400px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
    }
}

@media screen and (max-width: 385px) {
    .grid{
        height: 200px;
        width: 200px;
        gap: 5px;
    }
    .reset{
        padding: 5px;
        margin-top: 1rem;
    }
}